@model TakeHome.Models.CaseListViewModel
@{
    ViewBag.Title = "Employee Index";
}
@*EmployeeId = theCase.EmployeeId;
    FirstName = theCase.FirstName;
    LastName = theCase.LastName;
    CaseNumber = theCase.CaseNumber;
    StartDate = theCase.StartDate;
    EndDate = theCase.EndDate;
    Approved = theCase.Approved;
    Denied = theCase.Denied;*@
<section class="page-header">
    @Html.DisplayFor(m => m.Employee.FirstName) @Html.DisplayFor(m => m.Employee.LastName) | <Span class="subtitle">
        EMPLOYEE ID @Html.DisplayFor(m => m.Employee.EmployeeNumber)
    </Span>
    <div class="pull-right">
        <a href="#createCaseModal" data-toggle="modal" class="btn btn-primary"><span class="glyphicon glyphicon-plus"> </span> Create New Case</a>
    </div>
</section>
<p>
    <table class="table table-striped">
        <thead><tr></tr></thead>
        <tbody>
            @foreach (var caseViewModel in Model.caseList)
            {
                <tr>
                    <td>CASE ID: @caseViewModel.CaseNumber</td>
                    <td>
                        @if (caseViewModel.Approved)
                        {
                            <span>APPROVED</span>
                        }
                        else if (caseViewModel.Denied)
                        {
                            <span>DENIED</span>
                        }
                    </td>
                    <td>@caseViewModel.StartDate</td>
                    <td>@caseViewModel.StartDate</td>
                </tr>
            }
        </tbody>
    </table>
</p>
<p>
    Options: Ajax retrieval, Partial, or modifying EmployeeViewModel to bring back the list of cases
</p>
